* {
    padding: 0;
    margin: 0;
}

canvas { 
    background: #b8c500; 
    display: block; 
    margin: 0 auto; 
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 56px;
    color: #b8c500;
}

body {
    background-color: #4b525a;
}
